html,
body {
    background-color: #ccc;
}

.row {
    margin-top: 20%;
}

.logo {
    border: 1px solid black;
    border-radius: 10px;
    padding: 1.5%;
    background-color: #fff;
}

.data-text {
    border-radius: 10px;
    margin-top: 2% !important;
    /* display: none; */
    /* visibility: hidden; */
    position: relative !important;
    overflow: hidden;
}